.left{
float: left;	
	}
	.account-sidebar {
    width: 20%;
    background: #1f2630;
    display: flex;
/*    height: 300px;
*/    border-top: 1px solid #534c4c;
    border-bottom: 1px solid #534c4c;
}
.account-sidebar ul{
	margin: 0;    height: 100%;

	padding: 0;
	list-style: none;
}
.account-sidebar ul li{
		margin:10px 0;
}
.account-sidebar ul li a{
color: #FFF;
text-decoration: none;
text-transform: capitalize;

font-size: 17px;
}
.account-main-content{
		width: 80%;
    background: #FFF;

	}