.footer ul.socials {
    margin: 0;
    padding: 0;
    list-style: none;
}.footer ul.socials li{
  display: inline-block;
  margin-right: 6px;
}.footer ul.socials li a{
color:#FFF;
font-size:19px;
}.footer ul.categories{
	padding: 10px 0;
	margin: 0;
	list-style: none;
}.footer ul.categories li{
	display: inline-block;
	margin: 3px 0;
}.footer ul.categories li a{
text-transform:capitalize;
min-width:100px;
display:block;
text-align:center;
color: #646464;
text-decoration: none;
font-size: 12px;
padding:3px;
background: #ededed;
border-radius:4px;}	
.footer ul.account{
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer ul.account li{
	display: block;
	margin: 5px 0;
}.footer ul.account li a{
text-transform:capitalize;

color: #fff;
text-decoration: none;
font-size: inherit;
}	
