.header{
	background-color: #1f2630;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-right: 2%;
	padding-left: 2%
}
.header .logo{
color: #FFF;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 4px;
}
.header-nav{
	padding: 0;
	margin:0;
	list-style: none;
}
.header-nav  li{
	display: inline-block;
margin-right: 10px;
}
.header-nav  li a{
text-decoration: none;
color:#ededed;
}
.header-nav  li  .categories-toggle
{
border: 1px solid #DDD;
padding: 7px 5px;
border-radius: 3px;
text-transform: uppercase;
}
.header-nav  li  .categories-toggle i
{
color:#FFF;
font-size:12px;
}.header-nav-line{
display: block;
	}
	.header-nav li  a.header-nav-blod{
color:#ededed;
font-weight: 600;
	}/*.header-shop{
		position: relative;
	}.*/
	.header-shop img{
width: 55px;
	}.multi-line{

		position: absolute;
	top: -22px;

	}.header-shop .item{
		position: absolute;
		color: orange;
	}