body{
	margin: 0;
	padding: 0;
	font-size: 17px;
	color: #000;
	font-family: sans-serif;
}.no-margin{
	margin-bottom: 0;
	margin-top: 0;
}*{
	box-sizing: border-box;
	outline: none;
}
form .form-control{
	height: 40px;
	border:1px solid #DDD;
	border-left: none;
}.msf{
	margin: 0;
	margin-top: 5px;
}
.msf .form-section {
float: left;
position: relative;
}

.msf .control-select{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;

}.msf .c-selector{
	font-family: sans-serif;
border-radius: 3px 0 0 3px;
text-decoration: none;
color: #000;
background-color: #ededed;
line-height: 38px;
padding: 0 8px;
display: inline-block;
font-size:13px;
border:1px solid #DDD;
}.msf .section-mid{
width: 50%;
}.msf .control-text{
	width: 100%;
	border-radius: 0px;
}.msf .control-submit{
	color: #FFF;
	background-color: orange;
	border-radius: 0 3px 3px;
	border:none;
}.relative{
	position: relative;
}.hide{
	display: none;}
	.header div .a-list {
    z-index: 22;
    position: absolute;
    top: 100%;
    background: #636363;
    min-width: 300px;
    border: 1px;
    border: 1px solid #CCC;
    padding: 5px 0;
    border-radius: 3px;
    z-index: 2000;
    display: none;
}.header div .a-list .list-item {
    text-transform: capitalize;
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 4px 4px;
    font-family: sans-serif;
}
.header-nav > li:hover .a-list{
	display: block;

}
/** start table **/
.table-wrappe{
	overflow-x: auto;
}
table{width: 100%;border-collapse: collapse;}
	table th, table td{
		font-size: 14px;
		text-align: left;
		min-width: 120px;
		border-bottom: 1px solid #ccc;
		padding:5px 3px;
	}
	table thead{
		background: #1f2630;
		color: #FFF;
	}
/** end table **/
form .form-controla {
	height: 33px;
	border:1px solid #848484;
	border-radius: 3px;
	padding-left: 3px;
}form .control-block{
	display: block;width: 100%;
}
ul.pagination {
    padding: 0;
    margin: 0;
    list-style: none;}
    ul.pagination li{
display:inline-block;
margin-right:5px;
}
ul.pagination li a {
   color:#FFF;
   padding: 5px 10px;
   text-decoration: none;
   background:#1f2630;
border-radius: 3px;
} .dropdown{
	position: relative;
}
.btn45{
	text-decoration: none;background: #ededed;
	border: 1px solid #CCC;
	padding:  5px 5px;border-radius: 3px;color: #646464;
	font-family: sans-serif;
}.dropdown-menu{position: absolute;
background: #FFF;
padding: 0;
margin:0;
list-style: none;
z-index: 1000;
border: 1px solid #CCC;
width: 20%;

}
.dropdown-menu .menu-item{
	text-decoration: none;
	color: #000;
	font-size: 13px;
	padding: 4px 4px;
	display: block;

	font-family: sans-serif;
}